/* =========================
   ESTILOS GENERALES
   ========================= */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("fondo1.png");
    color: #243b53;
    line-height: 1.6;
}


/* =========================
   ENCABEZADO
   ========================= */

header {
    background-color: #075985;
    color: white;
    text-align: center;
    padding: 40px 20px;
}

header h1 {
    font-size: 38px;
    margin-bottom: 5px;
}

header p {
    font-size: 18px;
    color: #dbeafe;
}


/* =========================
   MENÚ
   ========================= */

nav {
    margin-top: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 12px;
    font-size: 16px;
}

nav a:hover {
    color: #7dd3fc;
}


/* =========================
   CONTENIDO
   ========================= */

main {
    width: 90%;
    max-width: 900px;
    margin: 40px auto;
}

section {
    background-color: white;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    border-left: 5px solid #0284c7;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.08);
}

section h2 {
    color: #0369a1;
    margin-bottom: 20px;
    font-size: 28px;
}


/* =========================
   PROYECTOS
   ========================= */

article {
    background-color: #f0f9ff;
    padding: 20px;
    margin-top: 15px;
    border-radius: 8px;
    border: 1px solid #bae6fd;
}

article h3 {
    color: #075985;
    margin-bottom: 8px;
}

article p {
    color: #475569;
}


/* =========================
   HABILIDADES
   ========================= */

ul {
    list-style: none;
}

li {
    background-color: #e0f2fe;
    color: #075985;
    padding: 10px 15px;
    margin: 8px 0;
    border-radius: 6px;
}


/* =========================
   ENLACES
   ========================= */

section a {
    color: #0284c7;
    font-weight: bold;
}

section a:hover {
    color: #0369a1;
}


/* =========================
   PIE DE PÁGINA
   ========================= */

footer {
    background-color: #0c4a6e;
    color: #dbeafe;
    text-align: center;
    padding: 25px;
    margin-top: 40px;
}


/* =========================
   RESPONSIVE
   ========================= */

@media (max-width: 600px) {

    header h1 {
        font-size: 30px;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }

    main {
        width: 94%;
    }

    section {
        padding: 20px;
    }
}